@font-face {
  font-family: "Museo Sans";
  src: url("../fonts/MuseoSans-500.otf");
}

@font-face {
  font-family: "Museo Slab";
  src: url("../fonts/MuseoSlab-500.otf");
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Museo Sans";
}

#the-latest h1{
  font-family: "Museo Slab";
  font-style: italic;
  text-align: center;
}

body {
    background-color: #eee;
    position: relative;
  }

.jumbotron {
    position: relative;
    width: 100%;
    height: 350px;
    /*height: 100%;*/
    background-size: cover;
    overflow: hidden;
    background: #000 url("../images/hsh_website_image-headerHome.jpg") center center;

}

#home-page .jumbotron {
  background: #000 url("../images/hsh_website_image-headerHome.jpg") center center;
}

#about-page .jumbotron {
  background: #000 url("../images/hsh_website_image-header1.jpg") center center;
}

header {
  height: 475px;
}

.panel {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.panel-default {
  border: none;
  box-shadow: none;
}

#home-page .panel-default {
  border: 1px solid #ddd;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  /*border-color: #ddd;*/
}

#show.panel {
  width: 85%;
}

nav {
  margin-top: 2%;
  margin-bottom: 30px;
}

.nav li a{
  /*background-color: #fdd900;*/
  margin: 5px;
  font-family: "Museo Slab";
  text-transform: capitalize;
  color: #333333;
  /*font-size: 140%;*/
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0);
    color: #54BBC0;
}

#login-nav {
  margin:0;
  top: 0px;
}

.logo-a {
  position: relative;
  top: -100px;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: #eee;
  margin: 0 auto;
  display: block;
}

.logo {
  width: 100px;
  margin: 0 auto;
  display: block;
  padding:10px;
}

/*.post-wrapper {
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    padding: 0;
    position: relative;
    background-clip: padding-box;
    border: 1px solid #eee;
    border: 1px solid rgba(0,0,0,.08);
}*/

footer {
  /*position: absolute;*/
  bottom: 0;
  height: 20px;
  width: 500px;
  margin: 0 auto;
}

footer p {
  text-align: center;
}

img {
  max-width: 100%;
  overflow: hidden;
}

main {
  position: relative;
  top: -45px;
  width: 100%;
  background-color: white;
  margin-left: 0 auto;
  padding-bottom: 20px;
}


#follow-flag a{
    /* Rectangle 3:
    background: #8DC62C;
    border: 1px solid #8DC62C;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    FB-f-Logo__white_29:
    f o l l o w u s:
    font-family: Helvetica-Bold;
    font-size: 14px;
    color: #000000;
    line-height: 13px;*/
    position: absolute;
    top: 383px;
    right: 0;
    /*width: 43px;
    height: 190px;*/
    z-index: 1000;
}
#follow-flag .follow-flag-text {
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
    /*font-style: italic;*/
}
#follow-flag img {
    /*position: absolute;
    left: 7px;
    bottom: 7px;*/
    height: 75px;
}

.panel-body {
    position: relative;
}
.title {
    background-color: #54BBC0;
    color: #fff;
    position: absolute;
    left: 0px;
    top: 20px;
    padding: 1px 20px;
    width: 75%;
    text-transform: uppercase;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
}


.center-text p{
  text-align: center;
}
article.post-content {
  margin-top: 20%;
}
#page .body-text {
    margin-top: 20%;
}

.page-content-wrapper {
    margin-top: 20%;

}

.post-content img {
  margin-top:25%;
}


@media (max-width: 1200px) {

  article.post-content {
    margin-top: 25%;
  }
  #page .body-text {
      margin-top: 25%;
  }

  .page-content-wrapper {
      margin-top: 25%;

  }

}


@media (max-width: 1000px) {

  article.post-content {
    margin-top: 30%;
  }
  #page .body-text {
      margin-top: 30%;
  }

  .page-content-wrapper {
      margin-top: 30%;

  }

}

@media (max-width: 991px){
  .post-content img {
    margin-top: 75%;
  }
}

@media (max-width: 800px) {

  article.post-content {
    margin-top: 35%;
  }
  #page .body-text {
      margin-top: 35%;
  }

  .page-content-wrapper {
      margin-top: 35%;

  }

}

@media (max-width: 700px) {

  h2 {
    font-size: 20px;
  }

  article.post-content {
    margin-top: 40%;
  }
  #page .body-text {
      margin-top: 40%;
  }

  .page-content-wrapper {
      margin-top: 40%;

  }
  .post-content img {
    margin-top: 25%;
  }

}

@media (max-width: 650px) {

  .panel {
    width: 55%;
  }

}

@media (max-width: 600px) {

  .panel {
    width: 60%;
  }

}

@media (max-width: 550px) {

  .panel {
    width: 65%;
  }

}

@media (max-width: 530px) {

  .panel {
    width: 70%;
  }

}




@media (max-width: 500px) {

  h2 {
    font-size: 20px;
  }

  article.post-content {
    margin-top: 125px;
  }
  #page .body-text {
      margin-top: 125px;
  }

  .page-content-wrapper {
      margin-top: 125px;

  }

}

@media (max-width: 480px) {

  .panel {
    width: 75%;
  }

}

@media (max-width: 450px) {

  .panel {
    width: 85%;
  }

}
