body {
    background-color: #eee;
    position: relative;
  }

.jumbotron {
    position: relative;
    background: #000 url("../images/banner-image.jpg") center center;
    width: 100%;
    /*height: 100%;*/
    background-size: cover;
    overflow: hidden;
}
header {
  height: 475px;
}

.panel {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

nav {
  margin-top: -80px;
  margin-bottom: 30px;
}

.nav li a{
  background-color: #fdd900;
  margin: 5px;
}

.logo {
  position: relative;
  left: 500px;
  right: auto;
  top: -100px;
  height: 150px;
  border-radius: 50%;
  background-color: #eee;

}

footer {
  position: absolute;
  bottom: 0;
  height: 20px;
}
